{% extends 'base_user_center.html' %}
{% load staticfiles %}
{% block midd %}订单评价{% endblock midd %}
{% block body %}
		<div class="right_content clearfix">
				<h3 class="common_title2">订单评论</h3>
				<ul class="order_list_th w978 clearfix">
					<li class="col01">{{order.create_time}}</li>
					<li class="col02">订单号:{{order.order_id}}</li>
					<li class="col02 stress">{{order.status_name}}</li>
				</ul>
			<form method="post">
				{% csrf_token %}
				<input type="hidden" name="order_id" value="{{order.order_id}}">
				<input type="hidden" name="total_count" value="{{order.skus|length}}">
				{% for sku in order.skus %}
				<table class="order_list_table w980">

					<tbody>
						<tr>
							<td width="80%">
								<ul class="order_goods_list clearfix">					
									<li class="col01"><img src="{{sku.sku.image.url}}"></li>
									<li class="col02">{{sku.sku.title}}<em>{{sku.price}}元/{{sku.sku.unite}}</em></li>
									<li class="col03">{{sku.count}}</li>

								</ul>
							</td>
							<td width="20%">{{sku.amount}}元</td>
						</tr>
					</tbody>
				</table>
				<div class="sitr_con">
					<input type="hidden" name="sku_{{forloop_counter}}" value="{{sku.sku.id}}">
					<div class="form_group form_group2">
						<table>评价内容:</table>
						<textarea class="site_area" name="content_{{forloop_cunter}}"></textarea>
					</div>
				</div>
				{% endfor %}
				<input type="submit" name="" value="提交" class="info_submit">
			</form>

		</div>
{% endblock body %}
